accelerate==1.10.0
datasets==3.2.0
huggingface-hub==0.34.4
numpy==2.2.6
pandas==2.2.3
protobuf>=4.25.3
pylatexenc==2.10
safetensors>=0.4.5
sentencepiece>=0.2.0
sympy>=1.13.0
tokenizers>=0.20.0
tqdm>=4.66.0
transformers==4.47.1
wandb==0.25.0
